h4 {
    color: black;
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    padding: 10px
}

h1 { 
   font-family: sans-serif, 'Times New Roman', Times, serif;
   text-align: center;
   color: black;
}

ul {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

p{
    font-size: medium;
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif
}

header{ 
    background-color: tan
}

footer{
    background-color: tan
}

h2 { 
    font-family: sans-serif, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    padding: 10px
 }

 .me{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 img{ 
height: 50%; 
}

a:hover{
    color: black
}

a:visited{
    color: purple
}